.nav-item {
    position: relative;
    padding-left: 15px;
}

.nav-item::before {
    content: "";
    position: absolute;
    top: 40%;
    left: 0;
    width: 5px;
    height: 5px;
    background-color: white;
    border: none;
}